* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  height: 100%;
}
.sidebar {
  float: left;
  width: 250px;
  padding: 10px 10px;
  height: 100%;
  overflow-y: auto;
  background-color: #000;
  overflow-x: hidden;
}
.sidebar-wrapper {
  padding: 200px;
}
.sidebar-menu {
  margin: 20px 0;
  color: rgb(190, 190, 190);
}
.sidebar_logo img {
  max-width: 250px;
  width: 100%;
}
.sidebar_menu a {
  color: rgb(190, 190, 190);
  text-decoration: none;
  display: block;
  padding: 10px 0;
}
.sidebar_menu svg {
  margin: 0 20px;
}
.sidebar_menu a.sidebar_menu_selecionado {
  color: #fff;
  background-color: rgb(80, 80, 80);
  border-radius: 5px;
}
.sidebar_menu_item {
  margin-top: 12px;
  cursor: pointer;
  vertical-align: middle;
}
.sidebar_menu p.sidebar_menu_title {
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
}
