* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}
html,
body {
  height: 100%;
}
.sidebar {
  float: left;
  width: 250px;
  padding: 10px 10px;
  height: 100%;
  overflow-y: auto;
  background-color: #000;
  overflow-x: hidden;
}
.sidebar-wrapper {
  padding: 200px;
}
.sidebar-menu {
  margin: 20px 0;
  color: rgb(190, 190, 190);
}
.sidebar_logo styles {
  max-width: 250px;
  width: 100%;
}
